body {
    font: 20px Times, serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 20px;
  margin-right: 150px;
  margin-left: 150px;
}

.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

.row {
  padding: 30px;
}

body {
  background-color: #ffffff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
  background-color: #646464;
  padding: 16px 16px;
  display: flex;
  justify-content: space-around;
  }


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("fullPic.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

